<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALVm_8JSew-sh89JWXAkaYolE3DjDB0W0</string>
	<key>GCM_SENDER_ID</key>
	<string>338381414034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dennizyilmaz.PhotoConnect</string>
	<key>PROJECT_ID</key>
	<string>photoconnect-3eb0b</string>
	<key>STORAGE_BUCKET</key>
	<string>photoconnect-3eb0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338381414034:ios:04ad2b23c844ffe35b504b</string>
</dict>
</plist>